div.content
    h1 Confirmaci칩n de cambio de contrase침a
    p=`Hola ${name}, recibimos su solicitud de cambio de contrase침a.`
    p Haga click en el siguiente link para proceder a cambiar su contrase침a
    a(href=`${url}`)=`${url}`
